[Unit]
Description=Jenkins Service
After=network.target

[Service]
Type=simple
User=jenkins
ExecStart=/usr/bin/java -Djava.awt.headless=true -DJENKINS_HOME=/var/lib/jenkins -jar /usr/lib/jenkins/jenkins.war
Restart=on-abort

[Install]
WantedBy=multi-user.target
